<h1 class="text-center"><i class="fa-solid fa-house"></i>&nbsp; Home</h1>
<div class="d-grid gap-2 col-6 mx-auto mt-4">
    <% if session[:user_type] != 'seller' %>
        <button id="market" class="btn btn-primary" type="button"><i class="fa-solid fa-shop"></i>&nbsp; My market</button>
        <button id="purchase" class="btn btn-primary" type="button"><i class="fa-solid fa-basket-shopping"></i>&nbsp; Purchase history</button>
    <% end %>
    <% if session[:user_type] != 'buyer' %>
        <button id="sale" class="btn btn-primary" type="button"><i class="fa-solid fa-right-left"></i>&nbsp; Sale history</button>
        <button id="inventory" class="btn btn-primary" type="button"><i class="fa-solid fa-box-archive"></i>&nbsp; My inventory</button>
        <button id="top_seller" class="btn btn-primary" type="button"><i class="fa-solid fa-user"></i>&nbsp; Top seller</button>
    <% end %>
</div>

<script>
    let user_type = '<%= session[:user_type] %>'
</script>

<%= javascript_pack_tag 'main' %>
