<h1><i class="fa-solid fa-key"></i>&nbsp; New password</h1>
<%= form_with url: update_password_path, method: :post, data: {turbo: false}, id: :form do |form| %>
<label for="newPassword" class="form-label">New password: </label>
<input type="password" class="form-control form" name="newPassword" id="newPassword" required>
<div class="invalid-feedback" id="newPassword-feedback"></div>
<label for="newPassword2" class="form-label mt-2">Re-enter new password:</label>
<input type="password" class="form-control form" name="re_password" id="re-password" required>
<div class="invalid-feedback" id="re-password-feedback"></div>
<button id="confirm" type="button" class="btn btn-primary mt-3">Confirm</button>
<% end %>   

<%= javascript_pack_tag 'new_password' %>
